.chat
  .chat__header
    .chat__group
      .chat__group-name
        test
      %ul.chat__member-list
        Member：
        %li.chat__member keimae
    = link_to '#', class: "chat__edit" do
      Edit


  .chat__message-list

  .chat__message-form