.side-bar
  .side-bar__user-name
    .side-bar__top-items
      .side-bar__name
        %p keimae

      .side-bar__icon-list
        = link_to "#", class: "side-bar__icon" do
          = icon('far', 'edit')
          %span<>
        = link_to "#", class: "side-bar__icon" do
          = icon('fa', 'cog')
          %span<>
        
  .side-bar__group-list
    .side-bar__group
      .side-bar__group-name
        %p techcampnagoya
      .side-bar__group-message
        %p まだメッセージはありません。